@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@theme {
    --font-urbanist: "Urbanist", sans-serif;
}

@theme{
    --font-freehand:"freehand",cursive;
}
@theme{
      --font-roboto: "Roboto Condensed", sans-serif;
}
@theme{
       --font-arimo: "Arimo", sans-serif;

}
